.loginImages {
    background-image: url(https://images.pexels.com/photos/2177815/pexels-photo-2177815.jpeg?cs=srgb&dl=man-wearing-black-baseball-cap-standing-inside-ring-2177815.jpg&fm=jpg);
    background-size: cover;
    background-position: center;
  }