.bgRegister {
    background-image: url(https://images.pexels.com/photos/2597901/pexels-photo-2597901.jpeg?cs=srgb&dl=close-up-photo-of-woman-s-face-near-neon-lights-2597901.jpg&fm=jpg);
    background-size: cover;
    background-position: center;
  }

